aiosqlite
alembic
anyio
bcrypt
fastapi
fastapi-users
fastapi-users-db-sqlalchemy
flake8
pydantic
pydantic-settings
pytest
pytest-asyncio
python-dotenv
python-multipart
PyYAML
SQLAlchemy
uvicorn
email-validator
passlib
PyJWT